/*ページ全体の構成*/
body {
  color: #4e5a64;
  font-size: 20px;
  font-family: "HG行書体", monospace;
  margin: 0;
  background-image:url("https://www.beiz.jp/images_L/japanese-paper/japanese-paper_00183.jpg"); /* 画像 */
  background-size: cover; /* 全画面 */
  background-attachment: fixed; /* 固定 */
  background-position: center center; /* 縦横中央 */
}
a:link {
  color:#606060;
  text-decoration: none;
}
a:hover {
  color:#606060;
  text-decoration: none;
}
a:visited {
  color:#606060;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/*全体の設定*/
.wrap {
  width: 100%;
}
/*ヘッダーの設定*/
.header {
  width: 100%;
  height: 5px;
  text-align: center;
  /*ヘッダーの背景設定*/
  background-size: cover;
  padding-bottom: 5rem;
  margin: 0 0 50px 0;
}
/*サイトのタイトルの設定*/
.headerMain-title {
  /*サイトのタイトルの設定*/
  margin: 0 0;
  font-size: 60px;
  font-family: 'Teko', sans-serif;
  position: relative;
}
/*サイトのタイトルの1024px以下の設定*/
@media screen and (max-width: 1024px) {
  .header {
    height: 20px;
    margin: 0 0 50px 0;
    
  }
  .headerMain {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  .headerMain {
    margin: 0 auto;
  }
  .headerMain-title {
    font-size: 38px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
  }
}
.main {
  max-width: 1124px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-link {
  display: none;
}
.mainNav {
  width: 20%;
  padding: 0 20px;
}
.mainNav-list {
  margin: 20px 0;
}
.mainNav-listTitle {
  padding: 10px;
  margin: 0 0 15px 0;
  border-bottom: 1px dotted #ccc;
}
.mainNav-listItem {
  margin: 0 10px;
  line-height: 1.8;
  display: block;
  border-bottom: 1px dotted #ccc;
}
.mainNav-listItem a {
  display: block;
}
.sns {
  /*SNSアイコン*/
  display: flex;
  justify-content: center;
}
.snsIcon {
  width: 38px;
  margin: 0 5px 0;
}
.mainTopic {
  width: 80%;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .main {
    display: block;
  }
  .main-link {
    display: flex;
    max-width: 440px;
    margin: 0 auto 50px;
  }
  .main-link li {
    width: 200px;
    margin: 0 10px 0;
    display: block;
    background: #91b4c5;
    line-height: 4;
    text-align: center;
  }
  .main-link li a {
    color: #fff;
    display: block;
  }
  .mainNav {
    display: none;
  }
  .mainTopic {
    width: auto;
    max-width: 100%;
    padding: 0 20px;
  }
}
/*mainsection*/
.mainSection {
  margin: 0 0 100px 0;
  position: relative;
  flex-direction: column;
}
.mainSection-header {
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  align-items: center;
  flex-direction: column;
}
.mainSection-header-1 {
  width: 10px;
  height: 40px;
  content: '';
  top: 0;
  bottom: 0;
}
.mainSection-headerTitle {
  padding: 0 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  color:#606060;
  margin: 0 20px 0 0;
}
.mainSection-HeaderSubtitle {
  color: #ccc;
}
.mainSection-body 
display: block;
width: 120px;
line-height: 3;
padding: 5px;
margin: 10px 0 0;
text-align: center;
background: #f2f2f2;
display: flex;
flex-flow: column;
margin: 2px 4px 6px 8px;
}
.SNS{
  display:flex;
  flex-flow: column;
}
.SNS-title{
  padding: 10px;
  margin: 0 0 5px 0;
}
.mainSection-button a {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .mainSection-headerTitle {
    padding: 0 0 0 10px;
  }
  .newsList {
    margin: 0 0 0 20px;
  }
}
/*news*/
.newsList {
  margin: 0 0 0 32px;
}
.newsList-card {
  padding-bottom: 20px;
  margin: 20px 0 0 0;
}
.newsList-card:hover {
  opacity: 0.7;
}
.newsList-cardHeader {
  display: flex;
}
.newsList-cardHeader-date {
  font-weight: 700;
  margin: 0 20px 0 0;
}
.newsList-cardHeader-tag {
  color: #ccc;
}
.newsList-cardTitle {
  color: #595959;
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .newsList {
    margin: 0 0 0 20px;
  }
}
/*achievement*/
.achievement {
  margin: 0 0 0 32px;
}
.achievement-date {
  color: #888;
  font-size: 18px;
  margin: 0 0 10px 0;
}
.achievement-tournament {
  font-size: 14px;
  color: #888;
  margin: 0 0 20px 0;
}
.achievement-result {
  color: #555;
  font-weight: 700;
}
.achievement-resultTitle {
  font-size: 18px;
}
.achievement-resultInfo {
  font-size: 28px;
}

/*ahievement*/
.activityImage {
  margin: 0 0 160px;
}
.activityImage-list {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  flex-wrap: wrap;
}
.activityImage-listItem {
  width: 160px;
  height: 160px;
  margin: 0 10px 10px 10px;
}
.activityImage-listItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activityMovie-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}
.activityIMovie-listItem-img {
  width: 350px;
  height: 180px;
  margin: 0 15px 15px 15px;
}
.activityIMovie-listItem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activityIMovie-listItem-date {
  font-size: 14px;
  margin: 0 0 0 15px;
}
.activityIMovie-listItem-title {
  margin: 0 0 0 15px;
}
@media screen and (max-width: 1024px) {
  .activityMovie-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
    flex-wrap: wrap;
  }
}
/*footer*/
.footer {
  background-color: rgba(255, 239, 213, 0.4); /* 背景のみ半透明 */
}
.footerContents {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 0;
  aligh-items: center
}
.footerContents-main {
  display: flex;
  justify-content: space-around;
}
.footerContents-mainTitle {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.footerContents-mainAdd {
  margin: 0 0 5px 0;
}
.footerContents-mainTel {
  font-size: 30px;
  margin: 0 0 50px 0;
}
.footerContents-mainInfo {
  position: absolute;
  font-size: 14px;
  bottom: 0;
}
.footerContents-sub {
  display: flex;
  justify-content: space-around;
}
.footerContents-subNavi {
  width: 120px;
  line-height: 1.7;
}
.footerContents-subNavi-fast {
  width: 240px;
}
.footerContents-subNavi-list {
  margin: 0 0 0 10px;
}
.footerContents-subNavi-fastList {
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 10px;
}
.footerContents-subNavi-fastList li {
  width: 50%;
}
.footerContents-subNavi-title {
  padding: 0 0 0 10px;
  background: #ddd;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 1024px) {
  .footerContents-main {
    position: relative;
    width: auto;
    max-width: 350px;
    text-align: center;
  }
  .footerContents-mainInfo {
    position: inherit;
  }
  .footerContents-sub {
    display: none;
  }
}
